In [2]:
import pandas as pd
import pymysql

In [5]:
user_act = pd.read_csv('user_act.csv')
user_act

       user_id      time
0     98047837   6/12/19
1     97726136   9/12/19
2     98607707  18/12/19
3     98662432   6/12/19
4     98145908  16/12/19
...        ...       ...
7511   4524349  29/11/19
7512  11683492  23/11/19
7513  11683492  19/11/19
7514   4524349  27/11/19
7515  36471333  26/11/19

[7516 rows x 2 columns]

In [6]:
def date_formatting(date_str):
    d, m, y = date_str.split('/')[0],  date_str.split('/')[1],  date_str.split('/')[2]
    if len(d) == 1:
        d = "0" + d
    if len(m) == 1:
        m = "0" + m
    formatted = '20'+y+'-'+m+'-'+d
    return formatted

In [7]:
date_formatting('6/7/21')

'2021-07-06'

In [8]:
user_act['time'] = user_act['time'].apply(date_formatting)

In [9]:
user_act

       user_id        time
0     98047837  2019-12-06
1     97726136  2019-12-09
2     98607707  2019-12-18
3     98662432  2019-12-06
4     98145908  2019-12-16
...        ...         ...
7511   4524349  2019-11-29
7512  11683492  2019-11-23
7513  11683492  2019-11-19
7514   4524349  2019-11-27
7515  36471333  2019-11-26

[7516 rows x 2 columns]

In [10]:
records = user_act.to_records(index=False).tolist()
records  # with datetime format revised

[(98047837, '2019-12-06'),
 (97726136, '2019-12-09'),
 (98607707, '2019-12-18'),
 (98662432, '2019-12-06'),
 (98145908, '2019-12-16'),
 (93784494, '2019-12-03'),
 (94832743, '2019-12-13'),
 (95290487, '2019-11-27'),
 (96610296, '2019-12-11'),
 (100684618, '2019-12-05'),
 (100509623, '2019-12-08'),
 (101781721, '2019-12-13'),
 (103891828, '2019-12-01'),
 (101260672, '2019-12-12'),
 (104811265, '2019-12-11'),
 (103802946, '2019-11-20'),
 (104221274, '2019-12-14'),
 (110418606, '2019-12-09'),
 (100684618, '2019-11-26'),
 (100509623, '2019-11-21'),
 (101781721, '2019-12-12'),
 (103891828, '2019-12-08'),
 (101260672, '2019-11-28'),
 (104811265, '2019-12-05'),
 (103802946, '2019-11-23'),
 (104221274, '2019-11-29'),
 (110418606, '2019-11-25'),
 (100509623, '2019-12-15'),
 (101781721, '2019-12-16'),
 (101260672, '2019-12-17'),
 (104811265, '2019-12-15'),
 (103802946, '2019-12-18'),
 (104221274, '2019-12-04'),
 (110418606, '2019-11-24'),
 (100684618, '2019-12-11'),
 (100509623, '2019-11-26'),
 (101781721, '2019-12-18'),
 (103891828, '2019-12-11'),
 (101260672, '2019-11-25'),
 (103802946, '2019-12-07'),
 (100509623, '2019-11-19'),
 (101781721, '2019-12-14'),
 (103891828, '2019-11-24'),
 (104221274, '2019-11-24'),
 (100684618, '2019-12-12'),
 (101781721, '2019-12-17'),
 (101260672, '2019-12-16'),
 (104811265, '2019-12-04'),
 (103802946, '2019-12-14'),
 (104221274, '2019-12-08'),
 (116730636, '2019-12-17'),
 (100684618, '2019-12-06'),
 (103891828, '2019-12-16'),
 (103802946, '2019-12-12'),
 (104221274, '2019-11-23'),
 (116730636, '2019-12-09'),
 (100684618, '2019-12-14'),
 (100509623, '2019-11-24'),
 (101260672, '2019-12-14'),
 (103802946, '2019-12-13'),
 (104221274, '2019-12-18'),
 (116730636, '2019-12-13'),
 (100684618, '2019-12-10'),
 (101260672, '2019-11-19'),
 (104221274, '2019-12-06'),
 (116730636, '2019-11-24'),
 (100684618, '2019-12-16'),
 (100509623, '2019-11-22'),
 (103891828, '2019-11-28'),
 (104811265, '2019-12-12'),
 (104221274, '2019-12-07'),
 (116730636, '2019-12-15'),
 (100684618, '2019-11-23'),
 (100509623, '2019-12-17'),
 (103891828, '2019-12-05'),
 (104221274, '2019-12-02'),
 (100684618, '2019-12-03'),
 (103891828, '2019-12-04'),
 (104221274, '2019-11-18'),
 (100509623, '2019-12-12'),
 (104221274, '2019-12-05'),
 (103891828, '2019-12-12'),
 (101260672, '2019-12-18'),
 (116730636, '2019-11-28'),
 (100509623, '2019-12-11'),
 (100509623, '2019-11-23'),
 (104811265, '2019-12-09'),
 (103891828, '2019-12-17'),
 (104811265, '2019-12-01'),
 (106230218, '2019-12-06'),
 (103802946, '2019-12-06'),
 (116730636, '2019-12-16'),
 (100509623, '2019-12-16'),
 (106230218, '2019-12-15'),
 (103802946, '2019-11-29'),
 (101260672, '2019-11-24'),
 (106230218, '2019-12-03'),
 (103582986, '2019-12-09'),
 (106230218, '2019-12-11'),
 (103802946, '2019-11-26'),
 (104221274, '2019-11-21'),
 (100684618, '2019-12-15'),
 (103582986, '2019-12-17'),
 (116730636, '2019-12-18'),
 (103802946, '2019-12-11'),
 (100684618, '2019-11-22'),
 (103891828, '2019-12-13'),
 (106230218, '2019-12-09'),
 (103802946, '2019-11-27'),
 (104221274, '2019-12-01'),
 (103582986, '2019-11-18'),
 (106230218, '2019-11-29'),
 (100684618, '2019-12-18'),
 (103891828, '2019-11-23'),
 (116730636, '2019-12-11'),
 (103891828, '2019-12-06'),
 (103582986, '2019-12-12'),
 (104221274, '2019-12-15'),
 (116730636, '2019-12-14'),
 (103582986, '2019-11-19'),
 (106230218, '2019-11-23'),
 (103891828, '2019-11-22'),
 (103582986, '2019-12-15'),
 (103582986, '2019-12-10'),
 (116730636, '2019-12-12'),
 (100684618, '2019-11-24'),
 (106230218, '2019-12-10'),
 (103802946, '2019-11-25'),
 (103582986, '2019-11-29'),
 (106557109, '2019-11-22'),
 (103582986, '2019-12-14'),
 (106557109, '2019-12-13'),
 (103802946, '2019-12-16'),
 (104221274, '2019-11-25'),
 (103582986, '2019-12-01'),
 (106557109, '2019-11-28'),
 (100684618, '2019-12-01'),
 (103582986, '2019-12-04'),
 (106557109, '2019-12-15'),
 (103802946, '2019-11-18'),
 (104221274, '2019-12-09'),
 (100684618, '2019-11-18'),
 (106557109, '2019-12-03'),
 (101781721, '2019-12-15'),
 (103582986, '2019-12-18'),
 (106557109, '2019-11-29'),
 (100509623, '2019-11-20'),
 (103891828, '2019-12-14'),
 (103582986, '2019-12-11'),
 (106557109, '2019-12-01'),
 (103802946, '2019-11-30'),
 (116730636, '2019-12-07'),
 (110253038, '2019-11-23'),
 (106557109, '2019-11-18'),
 (116730636, '2019-12-08'),
 (110253038, '2019-12-11'),
 (103582986, '2019-11-27'),
 (110253038, '2019-12-18'),
 (103582986, '2019-12-08'),
 (106557109, '2019-11-21'),
 (103802946, '2019-12-17'),
 (100684618, '2019-11-29'),
 (100509623, '2019-12-09'),
 (110253038, '2019-11-29'),
 (104221274, '2019-11-26'),
 (116730636, '2019-12-01'),
 (100684618, '2019-12-17'),
 (110253038, '2019-11-28'),
 (104221274, '2019-12-11'),
 (106557109, '2019-11-30'),
 (103582986, '2019-11-21'),
 (106557109, '2019-11-19'),
 (104221274, '2019-12-03'),
 (110253038, '2019-12-16'),
 (100509623, '2019-11-18'),
 (103582986, '2019-11-20'),
 (106557109, '2019-12-12'),
 (110253038, '2019-12-12'),
 (103582986, '2019-11-25'),
 (106557109, '2019-12-11'),
 (103802946, '2019-11-21'),
 (110253038, '2019-11-25'),
 (110253038, '2019-12-02'),
 (106557109, '2019-11-27'),
 (116730636, '2019-12-05'),
 (100509623, '2019-11-30'),
 (103802946, '2019-11-22'),
 (106557109, '2019-12-08'),
 (104221274, '2019-12-16'),
 (110253038, '2019-11-30'),
 (103582986, '2019-11-22'),
 (100684618, '2019-12-13'),
 (110253038, '2019-12-06'),
 (103802946, '2019-12-09'),
 (103582986, '2019-12-05'),
 (100509623, '2019-12-02'),
 (103582986, '2019-11-23'),
 (106557109, '2019-11-25'),
 (104221274, '2019-12-17'),
 (100684618, '2019-11-27'),
 (110253038, '2019-12-09'),
 (104221274, '2019-11-20'),
 (100684618, '2019-12-08'),
 (103582986, '2019-12-16'),
 (103802946, '2019-12-15'),
 (103582986, '2019-12-13'),
 (110253038, '2019-12-05'),
 (106557109, '2019-12-09'),
 (103582986, '2019-12-03'),
 (110253038, '2019-12-04'),
 (100509623, '2019-12-10'),
 (103891828, '2019-11-30'),
 (110253038, '2019-12-15'),
 (110253038, '2019-11-21'),
 (106557109, '2019-12-06'),
 (103802946, '2019-12-08'),
 (116730636, '2019-11-26'),
 (103891828, '2019-12-15'),
 (116730636, '2019-12-06'),
 (103802946, '2019-12-04'),
 (100509623, '2019-12-03'),
 (116678892, '2019-11-22'),
 (103582986, '2019-12-02'),
 (103582986, '2019-11-26'),
 (116730636, '2019-11-19'),
 (100509623, '2019-12-05'),
 (106557109, '2019-12-16'),
 (116678892, '2019-12-14'),
 (106557109, '2019-11-20'),
 (100509623, '2019-12-06'),
 (116678892, '2019-12-12'),
 (106557109, '2019-11-26'),
 (104221274, '2019-12-10'),
 (116678892, '2019-12-15'),
 (106557109, '2019-12-07'),
 (116678892, '2019-12-05'),
 (103898055, '2019-12-12'),
 (103898055, '2019-12-07'),
 (103898055, '2019-11-24'),
 (106557109, '2019-12-04'),
 (103898055, '2019-12-09'),
 (116678892, '2019-11-23'),
 (103898055, '2019-11-30'),
 (103898055, '2019-12-03'),
 (116678892, '2019-12-08'),
 (103898055, '2019-12-06'),
 (116678892, '2019-12-07'),
 (116730636, '2019-11-29'),
 (103898055, '2019-11-22'),
 (103898055, '2019-12-15'),
 (116730636, '2019-12-02'),
 (103898055, '2019-12-13'),
 (116678892, '2019-12-04'),
 (116678892, '2019-12-09'),
 (103891828, '2019-12-02'),
 (103898055, '2019-11-23'),
 (116730636, '2019-12-04'),
 (116678892, '2019-12-10'),
 (107874169, '2019-12-08'),
 (103891828, '2019-11-27'),
 (103891828, '2019-11-26'),
 (107874169, '2019-12-07'),
 (103898055, '2019-12-02'),
 (103898055, '2019-12-01'),
 (107874169, '2019-12-03'),
 (116730636, '2019-11-23'),
 (116678892, '2019-12-06'),
 (107874169, '2019-11-22'),
 (103898055, '2019-12-08'),
 (104221274, '2019-12-12'),
 (106557109, '2019-12-05'),
 (107874169, '2019-12-10'),
 (107874169, '2019-12-16'),
 (107874169, '2019-12-06'),
 (107874169, '2019-12-15'),
 (107874169, '2019-12-04'),
 (103898055, '2019-12-18'),
 (107874169, '2019-11-23'),
 (107874169, '2019-12-11'),
 (11087331, '2019-12-10'),
 (107874169, '2019-11-18'),
 (116730636, '2019-11-21'),
 (11087331, '2019-12-13'),
 (100509623, '2019-11-25'),
 (11087331, '2019-12-03'),
 (11087331, '2019-12-11'),
 (116678892, '2019-12-11'),
 (11087331, '2019-12-02'),
 (103582986, '2019-11-24'),
 (11087331, '2019-12-16'),
 (107874169, '2019-12-09'),
 (116730636, '2019-11-20'),
 (107874169, '2019-12-13'),
 (116730636, '2019-12-03'),
 (104221274, '2019-11-30'),
 (11087331, '2019-12-15'),
 (11087331, '2019-12-04'),
 (112296733, '2019-12-01'),
 (132252054, '2019-11-27'),
 (112296733, '2019-12-04'),
 (132252054, '2019-11-26'),
 (132252054, '2019-11-29'),
 (112296733, '2019-11-25'),
 (132252054, '2019-12-03'),
 (100509623, '2019-11-27'),
 (132252054, '2019-12-18'),
 (107874169, '2019-11-19'),
 (132252054, '2019-11-18'),
 (132252054, '2019-12-16'),
 (112296733, '2019-11-24'),
 (132252054, '2019-12-17'),
 (112296733, '2019-11-30'),
 (112296733, '2019-11-29'),
 (132252054, '2019-11-24'),
 (112296733, '2019-12-15'),
 (107874169, '2019-12-12'),
 (107874169, '2019-11-24'),
 (106557109, '2019-11-23'),
 (132252054, '2019-11-28'),
 (133088851, '2019-12-13'),
 (112296733, '2019-12-18'),
 (104221274, '2019-12-13'),
 (133088851, '2019-11-26'),
 (133088851, '2019-12-11'),
 (107874169, '2019-11-28'),
 (133088851, '2019-12-12'),
 (107874169, '2019-12-14'),
 (133088851, '2019-12-04'),
 (116678892, '2019-12-16'),
 (133088851, '2019-11-20'),
 (119732530, '2019-11-18'),
 (119732530, '2019-11-25'),
 (119732530, '2019-12-14'),
 (107874169, '2019-11-30'),
 (119732530, '2019-11-28'),
 (119732530, '2019-12-08'),
 (119732530, '2019-11-19'),
 (133088851, '2019-11-28'),
 (119732530, '2019-11-21'),
 (116071825, '2019-12-17'),
 (112131404, '2019-11-19'),
 (116071825, '2019-12-07'),
 (116071825, '2019-12-04'),
 (133088851, '2019-12-06'),
 (119732530, '2019-11-23'),
 (112131404, '2019-12-03'),
 (116071825, '2019-12-03'),
 (112296733, '2019-11-22'),
 (100509623, '2019-11-28'),
 (116071825, '2019-12-12'),
 (112131404, '2019-11-21'),
 (116071825, '2019-11-18'),
 (112131404, '2019-12-04'),
 (112131404, '2019-11-25'),
 (116071825, '2019-12-11'),
 (112131404, '2019-12-05'),
 (116071825, '2019-12-14'),
 (112296733, '2019-11-26'),
 (112131404, '2019-12-02'),
 (112131404, '2019-11-23'),
 (116071825, '2019-11-26'),
 (135099670, '2019-12-11'),
 (116071825, '2019-12-05'),
 (135099670, '2019-11-18'),
 (135099670, '2019-12-12'),
 (135099670, '2019-12-06'),
 (112131404, '2019-11-30'),
 (135099670, '2019-12-14'),
 (107874169, '2019-12-18'),
 (112131404, '2019-12-09'),
 (116071825, '2019-12-08'),
 (135099670, '2019-12-04'),
 (116071825, '2019-11-27'),
 (112131404, '2019-12-18'),
 (135099670, '2019-11-23'),
 (112131404, '2019-12-07'),
 (116071825, '2019-11-28'),
 (112131404, '2019-12-11'),
 (135099670, '2019-11-20'),
 (107874169, '2019-11-27'),
 (120154530, '2019-12-04'),
 (112707614, '2019-12-07'),
 (135099670, '2019-12-03'),
 (112707614, '2019-12-13'),
 (116071825, '2019-12-16'),
 (135099670, '2019-11-21'),
 (112561774, '2019-11-23'),
 (120154530, '2019-12-12'),
 (112707614, '2019-11-20'),
 (112561774, '2019-11-30'),
 (120154530, '2019-12-09'),
 (112707614, '2019-12-10'),
 (135099670, '2019-12-13'),
 (112561774, '2019-12-11'),
 (120154530, '2019-11-30'),
 (112707614, '2019-11-25'),
 (135099670, '2019-12-08'),
 (112707614, '2019-12-08'),
 (112561774, '2019-11-29'),
 (120154530, '2019-12-11'),
 (135099670, '2019-11-26'),
 (135099670, '2019-11-22'),
 (112561774, '2019-11-24'),
 (120154530, '2019-11-25'),
 (120154530, '2019-11-18'),
 (116071825, '2019-12-01'),
 (112561774, '2019-11-19'),
 (120154530, '2019-12-14'),
 (116071825, '2019-11-23'),
 (120154530, '2019-11-19'),
 (112707614, '2019-11-24'),
 (135157689, '2019-11-19'),
 (112707614, '2019-12-02'),
 (135157689, '2019-11-26'),
 (112561774, '2019-12-13'),
 (135157689, '2019-11-18'),
 (112561774, '2019-11-28'),
 (120154530, '2019-12-02'),
 (107874169, '2019-12-17'),
 (135157689, '2019-11-25'),
 (120154530, '2019-12-08'),
 (117155106, '2019-11-30'),
 (135157689, '2019-12-17'),
 (112707614, '2019-11-26'),
 (112561774, '2019-12-16'),
 (112707614, '2019-12-18'),
 (135157689, '2019-12-15'),
 (112707614, '2019-11-23'),
 (135157689, '2019-11-28'),
 (120154530, '2019-11-27'),
 (112707614, '2019-11-28'),
 (117155106, '2019-12-02'),
 (107874169, '2019-11-26'),
 (135157689, '2019-12-05'),
 (107874169, '2019-11-25'),
 (135157689, '2019-12-12'),
 (135157689, '2019-12-09'),
 (117155106, '2019-12-10'),
 (112561774, '2019-11-27'),
 (112707614, '2019-12-04'),
 (120154530, '2019-12-13'),
 (117155106, '2019-12-07'),
 (135157689, '2019-12-01'),
 (112561774, '2019-12-18'),
 (120154530, '2019-11-20'),
 (112707614, '2019-12-16'),
 (117155106, '2019-12-03'),
 (11268219, '2019-12-04'),
 (112707614, '2019-12-14'),
 (117155106, '2019-12-05'),
 (11268219, '2019-12-05'),
 (135157689, '2019-12-02'),
 (112561774, '2019-12-15'),
 (117155106, '2019-12-08'),
 (11268219, '2019-12-18'),
 (135157689, '2019-12-16'),
 (117155106, '2019-11-18'),
 (11268219, '2019-11-22'),
 (112561774, '2019-12-09'),
 (11268219, '2019-12-01'),
 (112561774, '2019-12-10'),
 (120154530, '2019-12-16'),
 (117155106, '2019-12-04'),
 (11268219, '2019-11-21'),
 (107874169, '2019-12-05'),
 (135157689, '2019-12-10'),
 (112561774, '2019-11-18'),
 (112561774, '2019-12-17'),
 (112707614, '2019-12-03'),
 (11268219, '2019-12-10'),
 (117155106, '2019-11-21'),
 (11268219, '2019-12-06'),
 (112561774, '2019-12-01'),
 (114147715, '2019-12-14'),
 (112707614, '2019-12-17'),
 (117155106, '2019-11-20'),
 (11268219, '2019-12-12'),
 (114147715, '2019-12-05'),
 (114147715, '2019-11-29'),
 (124926433, '2019-12-08'),
 (114147715, '2019-12-08'),
 (124926433, '2019-11-22'),
 (11268219, '2019-12-03'),
 (135157689, '2019-11-20'),
 (124926433, '2019-12-15'),
 (112707614, '2019-12-06'),
 (114147715, '2019-12-06'),
 (124926433, '2019-11-21'),
 (115226000, '2019-11-28'),
 (135157689, '2019-12-07'),
 (115226000, '2019-12-01'),
 (115226000, '2019-12-15'),
 (115226000, '2019-12-04'),
 (124926433, '2019-11-27'),
 (135157689, '2019-12-11'),
 (115226000, '2019-12-17'),
 (124926433, '2019-12-07'),
 (104221274, '2019-11-19'),
 (115226000, '2019-12-12'),
 (10131505, '2019-11-29'),
 (124926433, '2019-12-01'),
 (112707614, '2019-11-29'),
 (135157689, '2019-12-13'),
 (10131505, '2019-12-15'),
 (115226000, '2019-12-16'),
 (10131505, '2019-11-26'),
 (10131505, '2019-11-25'),
 (112707614, '2019-11-18'),
 (135157689, '2019-12-14'),
 (115226000, '2019-12-02'),
 (10131505, '2019-11-28'),
 (115226000, '2019-12-07'),
 (124926433, '2019-12-05'),
 (115226000, '2019-12-11'),
 (10131505, '2019-11-19'),
 (115226000, '2019-12-06'),
 (124926433, '2019-12-12'),
 (117155106, '2019-12-16'),
 (115226000, '2019-12-05'),
 (10131505, '2019-11-30'),
 (115226000, '2019-11-29'),
 (124926433, '2019-11-30'),
 (112707614, '2019-11-19'),
 (124926433, '2019-12-18'),
 (11268219, '2019-12-02'),
 (115226000, '2019-12-08'),
 (10131505, '2019-12-02'),
 (124926433, '2019-11-23'),
 (11268219, '2019-11-19'),
 (124926433, '2019-12-02'),
 (112707614, '2019-11-30'),
 (117155106, '2019-12-14'),
 (135157689, '2019-11-21'),
 (10131505, '2019-12-17'),
 (11268219, '2019-12-13'),
 (135157689, '2019-11-22'),
 (10131505, '2019-12-16'),
 (115226000, '2019-11-26'),
 (135157689, '2019-12-08'),
 (115226000, '2019-11-30'),
 (112707614, '2019-12-11'),
 (117659143, '2019-11-19'),
 (135157689, '2019-12-18'),
 (117659143, '2019-11-23'),
 (115226000, '2019-11-25'),
 (124926433, '2019-12-04'),
 (117659143, '2019-12-06'),
 (113134393, '2019-12-17'),
 (124926433, '2019-11-29'),
 (117659143, '2019-12-16'),
 (113134393, '2019-12-04'),
 (117659143, '2019-11-18'),
 (113134393, '2019-12-16'),
 (117659143, '2019-11-28'),
 (113134393, '2019-11-22'),
 (121058789, '2019-11-19'),
 (135157689, '2019-12-06'),
 (121058789, '2019-12-17'),
 (117659143, '2019-11-21'),
 (121058789, '2019-11-23'),
 (113134393, '2019-11-23'),
 (117659143, '2019-12-03'),
 (121058789, '2019-12-07'),
 (112707614, '2019-12-15'),
 (113134393, '2019-12-01'),
 (121058789, '2019-12-03'),
 (121058789, '2019-12-13'),
 (10131505, '2019-11-24'),
 (117659143, '2019-12-01'),
 (121058789, '2019-11-29'),
 (113134393, '2019-11-29'),
 (105397406, '2019-11-20'),
 (117659143, '2019-11-30'),
 (105397406, '2019-12-04'),
 (118660140, '2019-11-30'),
 (105397406, '2019-12-09'),
 (118660140, '2019-12-02'),
 (121058789, '2019-12-14'),
 (105397406, '2019-12-03'),
 (118660140, '2019-12-16'),
 (105397406, '2019-11-27'),
 (118660140, '2019-12-06'),
 (121058789, '2019-12-01'),
 (105397406, '2019-12-12'),
 (124926433, '2019-12-10'),
 (117659143, '2019-12-02'),
 (118660140, '2019-12-07'),
 (117659143, '2019-11-24'),
 (105397406, '2019-12-08'),
 (118660140, '2019-11-24'),
 (124926433, '2019-12-16'),
 (123118241, '2019-12-18'),
 (105397406, '2019-12-01'),
 (124926433, '2019-11-26'),
 (112707614, '2019-11-22'),
 (123118241, '2019-12-08'),
 (121058789, '2019-11-21'),
 (117659143, '2019-12-04'),
 (123118241, '2019-12-06'),
 (105397406, '2019-12-02'),
 (123118241, '2019-12-12'),
 (117659143, '2019-11-27'),
 (123118241, '2019-12-10'),
 (121058789, '2019-11-22'),
 (123118241, '2019-12-11'),
 (121058789, '2019-11-28'),
 (105397406, '2019-12-05'),
 (108331566, '2019-12-08'),
 (112707614, '2019-12-12'),
 (123118241, '2019-11-22'),
 (108331566, '2019-12-17'),
 (108331566, '2019-12-04'),
 (121058789, '2019-11-30'),
 (112707614, '2019-12-05'),
 (108331566, '2019-12-03'),
 (117659143, '2019-11-20'),
 (108331566, '2019-12-16'),
 (112707614, '2019-12-01'),
 (108331566, '2019-11-28'),
 (123118241, '2019-12-03'),
 (108331566, '2019-12-14'),
 (105397406, '2019-12-06'),
 (117659143, '2019-12-18'),
 (108331566, '2019-12-13'),
 (121058789, '2019-12-16'),
 (112707614, '2019-11-27'),
 (123118241, '2019-11-30'),
 (105397406, '2019-11-21'),
 (135157689, '2019-11-24'),
 (112707614, '2019-12-09'),
 (123118241, '2019-11-29'),
 (120013837, '2019-12-11'),
 (105397406, '2019-11-22'),
 (120013837, '2019-12-13'),
 (120013837, '2019-11-21'),
 (105397406, '2019-11-26'),
 (123118241, '2019-11-18'),
 (120013837, '2019-11-25'),
 (105397406, '2019-12-13'),
 (120013837, '2019-12-01'),
 (121058789, '2019-12-04'),
 (124926433, '2019-11-25'),
 (105397406, '2019-12-10'),
 (105397406, '2019-11-30'),
 (105397406, '2019-11-29'),
 (123118241, '2019-12-02'),
 (120013837, '2019-11-24'),
 (123237592, '2019-11-25'),
 (123237592, '2019-11-23'),
 (123237592, '2019-11-26'),
 (108957791, '2019-11-19'),
 (108957791, '2019-12-12'),
 (123237592, '2019-12-01'),
 (108957791, '2019-12-06'),
 (117659143, '2019-11-22'),
 (123237592, '2019-11-30'),
 (108957791, '2019-12-04'),
 (12262752, '2019-11-19'),
 (108957791, '2019-11-25'),
 (12262752, '2019-12-10'),
 (108957791, '2019-11-22'),
 (12262752, '2019-12-18'),
 (123237592, '2019-11-24'),
 (108957791, '2019-12-14'),
 (12262752, '2019-12-08'),
 (108957791, '2019-12-18'),
 (120013837, '2019-11-23'),
 (12262752, '2019-12-05'),
 (105397406, '2019-11-28'),
 (108957791, '2019-12-09'),
 (12262752, '2019-12-02'),
 (117659143, '2019-11-25'),
 (12262752, '2019-12-06'),
 (105397406, '2019-12-17'),
 (117659143, '2019-11-26'),
 (108957791, '2019-12-08'),
 (105397406, '2019-11-25'),
 (113922474, '2019-11-27'),
 (117659143, '2019-12-08'),
 (123237592, '2019-11-28'),
 (120013837, '2019-12-12'),
 (120013837, '2019-11-30'),
 (108957791, '2019-12-07'),
 (12262752, '2019-12-07'),
 (113962885, '2019-11-29'),
 (120013837, '2019-12-06'),
 (12262752, '2019-12-04'),
 (113962885, '2019-12-01'),
 (12262752, '2019-11-29'),
 (108957791, '2019-11-28'),
 (113962885, '2019-12-09'),
 (12262752, '2019-12-09'),
 (12262752, '2019-11-18'),
 (113962885, '2019-12-12'),
 (113962885, '2019-12-14'),
 (113962885, '2019-12-06'),
 (108957791, '2019-11-26'),
 (113962885, '2019-11-22'),
 (123237592, '2019-11-27'),
 (12262752, '2019-12-12'),
 (113962885, '2019-12-02'),
 (113962885, '2019-11-28'),
 (120013837, '2019-11-28'),
 (108957791, '2019-12-05'),
 (108957791, '2019-11-29'),
 (113962885, '2019-11-24'),
 (117659143, '2019-11-29'),
 (108957791, '2019-11-30'),
 (112917606, '2019-11-20'),
 (12262752, '2019-12-16'),
 (113962885, '2019-11-27'),
 (12262752, '2019-11-23'),
 (112917606, '2019-12-16'),
 (113962885, '2019-11-23'),
 (113962885, '2019-12-08'),
 (123237592, '2019-11-22'),

In [12]:
connect = pymysql.connect(host='localhost', 
                          user='root', 
                          passwd='Chouchou186', 
                          database='homework_20210708')
mycursor = connect.cursor()

for row in records:
    sql = 'INSERT INTO temp_user_act (user_id, dates) VALUES ({0}, "{1}")'.format(row[0], row[1])
    print(sql)
    mycursor.execute(sql)
connect.commit()

INSERT INTO temp_user_act (user_id, dates) VALUES (98047837, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (98662432, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (98145908, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (93784494, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (94832743, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (95290487, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (96610296, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (101781721, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (101260672, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (104811265, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (110418606, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (101781721, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (101260672, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (104811265, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (110418606, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (101781721, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (101260672, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (104811265, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (110418606, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (101781721, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (101260672, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (101781721, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (101781721, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (101260672, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (104811265, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (101260672, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (101260672, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (104811265, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (101260672, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (104811265, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (104811265, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (106230218, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (106230218, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (101260672, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (106230218, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (106230218, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (106230218, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (106230218, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (106230218, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (106230218, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (101781721, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (100684618, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (110253038, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (103802946, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (116678892, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (103582986, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (116678892, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (100509623, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (116678892, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (104221274, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (116678892, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (116678892, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (103898055, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (103898055, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (103898055, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (106557109, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (103898055, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (116678892, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (103898055, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (103898055, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (116678892, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (103898055, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (116678892, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (103898055, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (103898055, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (103898055, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (116678892, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (116678892, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (103898055, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (116730636, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (116678892, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (107874169, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (103891828, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (107874169, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (103898055, "2019-12-02")

INSERT INTO temp_user_act (user_id, dates) VALUES (112707614, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (108331566, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (123118241, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (108331566, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (117659143, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (108331566, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (121058789, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (112707614, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (123118241, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (135157689, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (112707614, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (123118241, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (120013837, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (120013837, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (120013837, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (123118241, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (120013837, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (120013837, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (121058789, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (124926433, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (123118241, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (120013837, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (123237592, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (123237592, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (123237592, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (123237592, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (117659143, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (123237592, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (123237592, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (120013837, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (117659143, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (117659143, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (113922474, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (117659143, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (123237592, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (120013837, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (120013837, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (120013837, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (123237592, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (120013837, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (117659143, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (108957791, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (112917606, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (112917606, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (113962885, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (123237592, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (112917606, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (116217587, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (116217587, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (116217587, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (124926433, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (12262752, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (124926433, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (114650712, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (117659143, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (105397406, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (123237592, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (124016530, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (135157689, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (124793990, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (109410073, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (129177653, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (109410073, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (135157689, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (129177653, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (109410073, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (109410073, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (124926433, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (129177653, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (109410073, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (133933227, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (117659143, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (133933227, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (133933227, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (109410073, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (133933227, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (109410073, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (133933227, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (133933227, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (109410073, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (124926433, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (129894791, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (133933227, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (133933227, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (133933227, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (116746209, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (124926433, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (133933227, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (116101597, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (12428085, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (109687773, "2019-11-25")

INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (118986002, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (114515435, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (128108757, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (128108757, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (129489291, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (118986002, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (129489291, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (117489231, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (129489291, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (128108757, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (129489291, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (129489291, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (128108757, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (11917811, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (129489291, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (119949716, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (124729533, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (124729533, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (124729533, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (124729533, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (124729533, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (124729533, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (129489291, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (124729533, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (124729533, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (126685028, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (126685028, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (126685028, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (126685028, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (132397628, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (126685028, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (123006863, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (126685028, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (136769457, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (126685028, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (2967122, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (136769457, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (121006999, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (133789905, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (133789905, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (133789905, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (133789905, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (133789905, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (133789905, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (129489291, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (30590613, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (133789905, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (16788720, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (31735497, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (31735497, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (133789905, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (31735497, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (31735497, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (134060411, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (134060411, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (134060411, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (31735497, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (134060411, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (31735497, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (129489291, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (126940947, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (31735497, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (126940947, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (126940947, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (31735497, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (126940947, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (129675564, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (126940947, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (31735497, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (134060411, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (31735497, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (117396268, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (126940947, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (136227449, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (31735497, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (136227449, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (31735497, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (126940947, "2019-11-22")

INSERT INTO temp_user_act (user_id, dates) VALUES (140781295, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (25211339, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (34611680, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (120698986, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (41449959, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (25211339, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (120698986, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (47328088, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (25211339, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (120698986, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (34611680, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (120698986, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (47328088, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (120698986, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (140781295, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (25211339, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (47328088, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (120698986, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (41449959, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (41449959, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (120698986, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (47328088, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (25211339, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (34611680, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (47328088, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (47328088, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (140781295, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (25211339, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (135731834, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (135731834, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (41449959, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (135731834, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (41449959, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (47328088, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (34611680, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (120698986, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (41449959, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (41449959, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (34611680, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (34611680, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (25211339, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (34611680, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (120698986, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (47328088, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (120698986, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (140781295, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (13851244, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (47328088, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (13851244, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (13851244, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (13851244, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (13851244, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (34611680, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (17220524, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (17220524, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (17220524, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (18165710, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (34611680, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (18165710, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (18165710, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (47328088, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (18165710, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (18165710, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (34611680, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (18165710, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (35354529, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (18165710, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (35354529, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (18165710, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (35354529, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (18165710, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (35354529, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (35354529, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (18165710, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (35354529, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (35354529, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (18165710, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (35354529, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (17883538, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (42427256, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (35354529, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (18165710, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (35354529, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (35354529, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (20536795, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (20536795, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (20536795, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (20536795, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (2695854, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (20536795, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (36404374, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (20536795, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (36404374, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (20536795, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (36404374, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (36404374, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (36404374, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (36404374, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (36404374, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (142306361, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (36404374, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (36404374, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (12619319, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (36404374, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (142081324, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (36404374, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (43022968, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (133113110, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (39880792, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (133113110, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (19132982, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (39880792, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (133113110, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (39880792, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (52853607, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (25455279, "2019-12-11")

INSERT INTO temp_user_act (user_id, dates) VALUES (29321251, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (29321251, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (61740927, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (29321251, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (61740927, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (29321251, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (29321251, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (61740927, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (29321251, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (35428862, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (35428862, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (29321251, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (58581609, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (29321251, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (29321251, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (62585019, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (29321251, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (62585019, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (61740927, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (62585019, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (62585019, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (61740927, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (29321251, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (62901515, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (29321251, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (62901515, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (61740927, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (35428862, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (62901515, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (61740927, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (61740927, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (61740927, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (35428862, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (35428862, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (414388, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (35428862, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (43409746, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (43409746, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (43409746, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (43409746, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (43409746, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (61740927, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (43409746, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (35428862, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (43409746, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (43409746, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (67077817, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (44073291, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (44073291, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (43409746, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (44073291, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (43409746, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (44073291, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (44073291, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (43409746, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (45163199, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (45163199, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (45163199, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (50706256, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (44073291, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (50706256, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (50706256, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (50706256, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (50706256, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (50706256, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (71386658, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (50706256, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (44073291, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (50706256, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (50706256, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (4597166, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (4597166, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (4597166, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (4597166, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (4597166, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (4597166, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (4597166, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (4597166, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (63281686, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (41979181, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (50706256, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (44444422, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (44444422, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (44444422, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (44444422, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (32198657, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (44444422, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (44444422, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (44444422, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (44444422, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (44444422, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (7175674, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (52411237, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (6776778, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (49893764, "2019-11-25")

INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (91451574, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (70972602, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (70972602, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (104792616, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (70972602, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (104792616, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (95996140, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (95996140, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (95996140, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (95996140, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (104792616, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (95996140, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (95996140, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (46482511, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (104792616, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (95996140, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (95996140, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (57499087, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (104792616, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (70972602, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (4763932, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (4763932, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (70972602, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (4763932, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (104792616, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (4763932, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (104792616, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (4763932, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (4763932, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (70972602, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (4763932, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (70972602, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (57499087, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (4763932, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (4763932, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (104792616, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (4763932, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (95996140, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (104792616, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (61440941, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (61440941, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (61948623, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (61440941, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (61440941, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (61440941, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (61440941, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (61440941, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (61440941, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (61440941, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (61440941, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (63830172, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (79947662, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (63830172, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (63830172, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (63830172, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (63830172, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (69428014, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (104792616, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (54233520, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (74192645, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (59167469, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (59167469, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (59167469, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (59167469, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (59167469, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (59167469, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (76568368, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (76568368, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (59167469, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (76568368, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (76568368, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (76568368, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (76568368, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (98607707, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (81165817, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (76568368, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (59167469, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (76568368, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (74552997, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (62177780, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (66535302, "2019-11-21")

INSERT INTO temp_user_act (user_id, dates) VALUES (101903161, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (110666558, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (92645331, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (111714241, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (101903161, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (83073587, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (111714241, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (111714241, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (92645331, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (111714241, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (111714241, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (101903161, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (97272650, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (111714241, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (111714241, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (97272650, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (93784494, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (97272650, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (83073587, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (97272650, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (101903161, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (93784494, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (111714241, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (97272650, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (101903161, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (93784494, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (83073587, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (97272650, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (101903161, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (97272650, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (111714241, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (105069110, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (97272650, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (111714241, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (111714241, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (97272650, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (100637858, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (93784494, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (83313393, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (101903161, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (93784494, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (101903161, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (93784494, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (106021995, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (106021995, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (112063876, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (106021995, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (106021995, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (106021995, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (88679022, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (106021995, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (106021995, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (106021995, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (88679022, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (106021995, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (106021995, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (110497780, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (110497780, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (110497780, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (111240351, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (111240351, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (111240351, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (111240351, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (111240351, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (111240351, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (111240351, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (93784494, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (111240351, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (111240351, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (93784494, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (93784494, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (111240351, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (111240351, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (111240351, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (83531230, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (113370250, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (100273837, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (100273837, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (100273837, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (100273837, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (100273837, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (100273837, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (100273837, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (100273837, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (100273837, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (100273837, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (91687665, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (100273837, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (97425189, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (97425189, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (97425189, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (97425189, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (97425189, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (97464808, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (101359759, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (101359759, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (97425189, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (101359759, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (101359759, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (97425189, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (101359759, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (101359759, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (83073587, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (101359759, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (101359759, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (100637858, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (101359759, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (114008857, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (102827853, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (83073587, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (97425189, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (101359759, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (11414403, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (11414403, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (97425189, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (11414403, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (11414403, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (11414403, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (97425189, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (101359759, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (11414403, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (116113058, "2019-11-29")

INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (78888823, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (13683475, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (118056074, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (13683475, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (13683475, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (13683475, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (13683475, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (78888823, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (78888823, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (11944953, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (11944953, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (11944953, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (11944953, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (97146302, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (97146302, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (97146302, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (11944953, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (97146302, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (97146302, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (97146302, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (97146302, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (110883373, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (11944953, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (97146302, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (97146302, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (97146302, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (132800946, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (132800946, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (132800946, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (132800946, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (132800946, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (132800946, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (132800946, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (132800946, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (132800946, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (132800946, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (132800946, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (132800946, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (135196347, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (135196347, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (135196347, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (135196347, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (135196347, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (97726136, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (120977495, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (135196347, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (141582467, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (135196347, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (97589149, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (78888823, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (135196347, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (135196347, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (135196347, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (135196347, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (122579585, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (110883373, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (106341626, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (135196347, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (97891315, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (97891315, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (13625542, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (13625542, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (13625542, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (97891315, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (13625542, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (13625542, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (97891315, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (13625542, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (13625542, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (97891315, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (13625542, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (97891315, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (98145908, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (110122107, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (110122107, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (98145908, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (139961106, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (110122107, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (98145908, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (139961106, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (110122107, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (110122107, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (139961106, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (110122107, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (139961106, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (110122107, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (139961106, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (139961106, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (20487789, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (9695904, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (100279459, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (100279459, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (100279459, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (110122107, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (100279459, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (139961106, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (100279459, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (139961106, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (100279459, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (110122107, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (110122107, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (100279459, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (110883373, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (114290242, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (12731267, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (100279459, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (137204928, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (114290242, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (100279459, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (78888823, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (114290242, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (21266227, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (21266227, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (139961106, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (21266227, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (114290242, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (21266227, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (139961106, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (114290242, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (21266227, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (21266227, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (114290242, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (139961106, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (21266227, "2019-12-12")

INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (141116365, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (26949426, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (26949426, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (141116365, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (28116055, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (26949426, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (141116365, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (11119577, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (26949426, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (141116365, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (26949426, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (11552428, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (141116365, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (26949426, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (28116055, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (11552428, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (11552428, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (11119577, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (11119577, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (39280271, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (39280271, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (141116365, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (39280271, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (11552428, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (39280271, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (141116365, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (18970782, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (141116365, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (39280271, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (39280271, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (39280271, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (112913274, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (39280271, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (11552428, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (141116365, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (112913274, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (11552428, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (39280271, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (96074992, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (39280271, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (26949426, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (26949426, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (39280271, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (40543017, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (40543017, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (40543017, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (40543017, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (40543017, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (26949426, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (25994909, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (26949426, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (18970782, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (11618257, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (26949426, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (33005419, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (33005419, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (33005419, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (33005419, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (33005419, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (125667859, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (26949426, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (11552428, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (51053646, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (11552428, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (44961770, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (11552428, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (122807356, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (122807356, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (122807356, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (122807356, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (122807356, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (125083491, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (122807356, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (122807356, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (122807356, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (14982762, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (54254339, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (54254339, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (54254339, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (54254339, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (54254339, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (21362103, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (54254339, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (122807356, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (54254339, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (124882030, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (132564529, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (54254339, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (5786548, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (124882030, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (124882030, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (101010836, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (124882030, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (71611159, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (54254339, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (23341818, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (71611159, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (124882030, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (54254339, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (71611159, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (23341818, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (71611159, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (124882030, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (23341818, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (71611159, "2019-12-15")

INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (139263046, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (35217215, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (83978856, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (35217215, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (139263046, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (35217215, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (29383294, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (83978856, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (83978856, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (139263046, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (42677791, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (29383294, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (139263046, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (83978856, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (139263046, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (35217215, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (29383294, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (83978856, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (139263046, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (42677791, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (139263046, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (29383294, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (83978856, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (42677791, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (35217215, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (42677791, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (29383294, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (139263046, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (35217215, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (42677791, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (83978856, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (83978856, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (83978856, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (29383294, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (83978856, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (29383294, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (139263046, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (139263046, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (83978856, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (83978856, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-11-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-01")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-11-30")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-12-06")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-11-21")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-12-12")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-12-08")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-12-04")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-11")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-11-26")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-11-22")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-12-18")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (29383294, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-05")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-11-28")
INSERT INTO temp_user_act (user_id, dates) VALUES (75500533, "2019-12-15")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-11-25")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-12-17")
INSERT INTO temp_user_act (user_id, dates) VALUES (23958465, "2019-12-02")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-03")
INSERT INTO temp_user_act (user_id, dates) VALUES (140515194, "2019-12-07")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-16")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-14")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-12-09")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-12-13")
INSERT INTO temp_user_act (user_id, dates) VALUES (84289150, "2019-12-10")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-11-20")
INSERT INTO temp_user_act (user_id, dates) VALUES (22158762, "2019-11-24")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-11-29")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-11-23")
INSERT INTO temp_user_act (user_id, dates) VALUES (11683492, "2019-11-19")
INSERT INTO temp_user_act (user_id, dates) VALUES (4524349, "2019-11-27")
INSERT INTO temp_user_act (user_id, dates) VALUES (36471333, "2019-11-26")

In [13]:
# close
mycursor.close()
connect.close()