In [1]:
import pandas as pd
import pymysql

In [2]:
author_act = pd.read_csv('author_act.csv')
author_act

       dates author_id
0    17/8/20      a001
1    16/8/20      a001
2    15/8/20      a001
3    14/8/20      a001
4     9/8/20      a001
..       ...       ...
128  23/5/20      c001
129  22/5/20      c001
130  21/5/20      c001
131  20/5/20      c001
132  19/5/20      c001

[133 rows x 2 columns]

In [3]:
def date_formatting(date_str):
    d, m, y = date_str.split('/')[0],  date_str.split('/')[1],  date_str.split('/')[2]
    if len(d) == 1:
        d = "0" + d
    if len(m) == 1:
        m = "0" + m
    formatted = '20'+y+'-'+m+'-'+d
    return formatted

In [4]:
date_formatting('6/7/21')

'2021-07-06'

In [5]:
author_act['dates'] = author_act['dates'].apply(date_formatting)

In [6]:
author_act

          dates author_id
0    2020-08-17      a001
1    2020-08-16      a001
2    2020-08-15      a001
3    2020-08-14      a001
4    2020-08-09      a001
..          ...       ...
128  2020-05-23      c001
129  2020-05-22      c001
130  2020-05-21      c001
131  2020-05-20      c001
132  2020-05-19      c001

[133 rows x 2 columns]

In [7]:
records = author_act.to_records(index=False).tolist()
records  # with datetime format revised

[('2020-08-17', 'a001'),
 ('2020-08-16', 'a001'),
 ('2020-08-15', 'a001'),
 ('2020-08-14', 'a001'),
 ('2020-08-09', 'a001'),
 ('2020-08-08', 'a001'),
 ('2020-08-07', 'a001'),
 ('2020-08-06', 'a001'),
 ('2020-08-03', 'a001'),
 ('2020-08-02', 'a001'),
 ('2020-08-01', 'a001'),
 ('2020-07-31', 'a001'),
 ('2020-07-30', 'a001'),
 ('2020-07-29', 'a001'),
 ('2020-07-27', 'a001'),
 ('2020-07-26', 'a001'),
 ('2020-07-25', 'a001'),
 ('2020-07-24', 'a001'),
 ('2020-07-23', 'a001'),
 ('2020-07-20', 'a001'),
 ('2020-07-19', 'a001'),
 ('2020-07-18', 'a001'),
 ('2020-07-17', 'a001'),
 ('2020-07-16', 'a001'),
 ('2020-07-13', 'a001'),
 ('2020-07-12', 'a001'),
 ('2020-07-11', 'a001'),
 ('2020-07-10', 'a001'),
 ('2020-07-05', 'a001'),
 ('2020-07-04', 'a001'),
 ('2020-07-03', 'a001'),
 ('2020-07-02', 'a001'),
 ('2020-06-29', 'a001'),
 ('2020-06-28', 'a001'),
 ('2020-06-27', 'a001'),
 ('2020-06-26', 'a001'),
 ('2020-06-21', 'a001'),
 ('2020-06-20', 'a001'),
 ('2020-06-19', 'a001'),
 ('2020-06-18', 'a001'),
 ('2020-06-15', 'a001'),
 ('2020-06-14', 'a001'),
 ('2020-06-13', 'a001'),
 ('2020-06-12', 'a001'),
 ('2020-06-09', 'a001'),
 ('2020-06-08', 'a001'),
 ('2020-06-07', 'a001'),
 ('2020-06-04', 'a001'),
 ('2020-06-03', 'a001'),
 ('2020-06-02', 'a001'),
 ('2020-05-29', 'a001'),
 ('2020-05-28', 'a001'),
 ('2020-05-27', 'a001'),
 ('2020-05-20', 'a001'),
 ('2020-05-19', 'a001'),
 ('2020-08-16', 'b001'),
 ('2020-08-07', 'b001'),
 ('2020-08-02', 'b001'),
 ('2020-07-25', 'b001'),
 ('2020-07-24', 'b001'),
 ('2020-07-19', 'b001'),
 ('2020-07-13', 'b001'),
 ('2020-07-02', 'b001'),
 ('2020-06-23', 'b001'),
 ('2020-06-11', 'b001'),
 ('2020-06-04', 'b001'),
 ('2020-05-30', 'b001'),
 ('2020-05-22', 'b001'),
 ('2020-05-18', 'b001'),
 ('2020-08-17', 'c001'),
 ('2020-08-09', 'c001'),
 ('2020-08-07', 'c001'),
 ('2020-08-06', 'c001'),
 ('2020-08-05', 'c001'),
 ('2020-08-04', 'c001'),
 ('2020-08-03', 'c001'),
 ('2020-08-02', 'c001'),
 ('2020-08-01', 'c001'),
 ('2020-07-31', 'c001'),
 ('2020-07-30', 'c001'),
 ('2020-07-29', 'c001'),
 ('2020-07-27', 'c001'),
 ('2020-07-26', 'c001'),
 ('2020-07-25', 'c001'),
 ('2020-07-20', 'c001'),
 ('2020-07-19', 'c001'),
 ('2020-07-17', 'c001'),
 ('2020-07-16', 'c001'),
 ('2020-07-13', 'c001'),
 ('2020-07-11', 'c001'),
 ('2020-07-10', 'c001'),
 ('2020-07-09', 'c001'),
 ('2020-07-08', 'c001'),
 ('2020-07-07', 'c001'),
 ('2020-07-06', 'c001'),
 ('2020-07-05', 'c001'),
 ('2020-07-04', 'c001'),
 ('2020-07-03', 'c001'),
 ('2020-07-02', 'c001'),
 ('2020-07-01', 'c001'),
 ('2020-06-30', 'c001'),
 ('2020-06-29', 'c001'),
 ('2020-06-28', 'c001'),
 ('2020-06-27', 'c001'),
 ('2020-06-24', 'c001'),
 ('2020-06-23', 'c001'),
 ('2020-06-22', 'c001'),
 ('2020-06-21', 'c001'),
 ('2020-06-18', 'c001'),
 ('2020-06-17', 'c001'),
 ('2020-06-16', 'c001'),
 ('2020-06-15', 'c001'),
 ('2020-06-14', 'c001'),
 ('2020-06-13', 'c001'),
 ('2020-06-12', 'c001'),
 ('2020-06-09', 'c001'),
 ('2020-06-08', 'c001'),
 ('2020-06-07', 'c001'),
 ('2020-06-06', 'c001'),
 ('2020-06-05', 'c001'),
 ('2020-06-04', 'c001'),
 ('2020-06-03', 'c001'),
 ('2020-06-02', 'c001'),
 ('2020-05-28', 'c001'),
 ('2020-05-27', 'c001'),
 ('2020-05-26', 'c001'),
 ('2020-05-25', 'c001'),
 ('2020-05-24', 'c001'),
 ('2020-05-23', 'c001'),
 ('2020-05-22', 'c001'),
 ('2020-05-21', 'c001'),
 ('2020-05-20', 'c001'),
 ('2020-05-19', 'c001')]

In [8]:
connect = pymysql.connect(host='localhost', 
                          user='root', 
                          passwd='Chouchou186', 
                          database='homework_20210708')
mycursor = connect.cursor()

for row in records:
    sql = 'INSERT INTO author_act (dates, author_id) VALUES ("{0}", "{1}")'.format(row[0], row[1])
    print(sql)
    mycursor.execute(sql)
connect.commit()

INSERT INTO author_act (dates, author_id) VALUES ("2020-08-17", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-16", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-15", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-14", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-09", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-08", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-07", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-06", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-03", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-02", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-01", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-31", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-30", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-29", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-27", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-26", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-25", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-24", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-23", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-20", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-19", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-18", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-17", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-16", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-13", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-12", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-11", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-10", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-05", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-04", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-03", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-02", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-29", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-28", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-27", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-26", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-21", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-20", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-19", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-18", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-15", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-14", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-13", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-12", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-09", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-08", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-07", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-04", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-03", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-02", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-29", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-28", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-27", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-20", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-19", "a001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-16", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-07", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-02", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-25", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-24", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-19", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-13", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-02", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-23", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-11", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-04", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-30", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-22", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-18", "b001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-17", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-09", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-07", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-06", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-05", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-04", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-03", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-02", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-08-01", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-31", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-30", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-29", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-27", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-26", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-25", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-20", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-19", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-17", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-16", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-13", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-11", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-10", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-09", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-08", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-07", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-06", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-05", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-04", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-03", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-02", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-07-01", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-30", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-29", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-28", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-27", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-24", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-23", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-22", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-21", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-18", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-17", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-16", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-15", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-14", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-13", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-12", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-09", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-08", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-07", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-06", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-05", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-04", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-03", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-06-02", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-28", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-27", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-26", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-25", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-24", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-23", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-22", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-21", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-20", "c001")
INSERT INTO author_act (dates, author_id) VALUES ("2020-05-19", "c001")

In [9]:
# close
mycursor.close()
connect.close()